#container{
  width: 100%;
  background-image: url(https://img.wallpapic.it/i4817-017-31/thumb/nuvole-blu-cielo-luce-del-sole-sfondo.jpg);
  background-repeat: no-repeat;
  background-position: 1px;
  background-size: cover;
}
