#container{
  width: 100%;
  background-image: url(https://thumbs.dreamstime.com/b/paesaggio-celestiale-10251467.jpg);
  background-repeat: no-repeat;
  background-position: 1px;
  background-size: cover;
}
